<div class="conainer pt-3 bg-dark text-white bg-dark">
  <div class="d-flex row mypage-wrap">
    <div class="align-self-start col col-sm-12 col-md-2 offset-md-1 border border-secondary rounded">
      <h2>アーティスト情報</h2>
      <%= render 'info', user: @user %>
    </div>
    <div class="col col-sm-12 col-md-7 offset-md-1 border border-secondary rounded" style="border:1px solid #333">
      <h2 class="p-2">リンク一覧</h2>
      <%= render 'index', albums: @albums %>
    </div>
  </div>
  <footer class="row justify-content-center mt-3 text-white-50">
    <p>Copyright &copy; 2021 Shinnosuke Akashi</p>
  </footer>
</div>