<div class="conainer">
  <div class="row mypage-wrap">
    <div class="col col-md-3" style="border:1px solid #333">
      
    </div>
    <div class="col col-md-7" style="border:1px solid #333">

    </div>
  </div>
</div>