<div id="full-layer-fdfddd" class="d-flex h-100 text-center text-white">

  <div class="cover-container d-flex p-3 mx-auto flex-column">

    <div class="metadata bg-dark">
      <img class="" width="400" height="400" src="<%= @album.image_url %>">
      <h3 class="mt-2"><%= @album.album_name %></h3>
      <h6 class="text-white-50"><%= @album.artist_name %></h6>
      <div class="embed-player">
        <iframe class="" src="https://open.spotify.com/embed/album/<%= @album.album_id %>" width="400" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>

    </div>

    <footer class="mt-auto text-white-50">
      <p>Copyright &copy; 2021 Shiso</p>
    </footer>

  </div>
 </div>